body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    font-family: 'Arial', sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    background-color: #ece8e8;
    color: rgb(94, 91, 91);
    min-height: 70px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    flex: 1 1 25%;
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.operator {
    background-color: #f9a825;
    color: white;
}

.btn.equal {
    flex: 1 1 100%;
    background-color: #ff7043;
    color: white;
}

.btn:hover {
    background-color: #e0e0e0;
}
